* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }


header{
    background-color:#6c6b69ea;
}



header img{
     height: 70px;
  width: 90px;
   margin: 0 auto;
    display: block;
    border-radius: 30%;
    margin-right: 2rem ;
    margin-left: 2rem;
}

.nav-item:hover{
    background-color: aliceblue;
    border-radius: 15px;
    transition: all 1.3s ease;

}
.nav-item{
    transition: all 1.3s ease;
    border-radius: 15px;
}

.cardr {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


footer{
  background-color: #6c6b69ea;
  text-align: center;
  position: relative;
    bottom: 0;
    width: 100%;
    padding: 0px;
    margin-top: 10px;

 
 
}

#redes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;

}

.cardr{
  width: 80%;
  gap: 20%;
  background-color:#6c6b69ea;
}

#tarjetas .card-container {
  width: 300px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#tarjetas .card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

 #tarjetas .card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

#tarjetas .card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #2b2b2b 0%, #dedddd 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

#tarjetas .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #ecebe8 0%, #454545 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

#tarjetas .card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

#tarjetas .card:hover .content {
  transform: translateY(0);
}

#tarjetas .card:hover .front-content {
  transform: translateY(30%);
}

#tarjetas .card:hover .front-content p {
  opacity: 0;
}


#tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin: 30px;
}

.front-content{
    text-align: center;
}


footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
}


@media (max-width: 320px){
    footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: 220px;
}
}

.nav-item a{
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-item .dropdown-menu a{
  color: black;
}